<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <display-name>PROTEIN</display-name>
 <welcome-file-list>
 <welcome-file>/WEB-INF/login.jsp</welcome-file>
 </welcome-file-list>

<!-- 하나의 서블릿 역할
<servlet>
	<servlet-name>LoginContreoller</servlet-name>
	<servlet-class>kh.s8.protein.controller.LoginContreoller</servlet-class>
</servlet>
 -->


 <filter>
 <filter-name>EncodingFilter</filter-name>
 <filter-class>kh.s8.protein.common.filter.EncodingFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>EncodingFilter</filter-name>
 <url-pattern>/*</url-pattern>
 </filter-mapping>

</web-app>